extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="nosotros", class="img-fluid")

            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio omnis mollitia exercitationem, iure amet unde quod in explicabo nostrum temporibus consequuntur fugiat suscipit eos harum. Et libero modi expedita non totam. Rem nesciunt provident dolore, facilis consequatur ut dignissimos libero, illo officiis laboriosam sed dolores, harum aspernatur quisquam voluptatem enim odit? Esse!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempora perferendis, possimus est odio, qui quasi reiciendis animi dolore id officiis eveniet porro eum quia ab veniam repellendus reprehenderit temporibus.
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sint excepturi nisi quos omnis quas sunt beatae, soluta, enim, odio ipsa deserunt molestiae obcaecati delectus!
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia repellat beatae!
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destin", class="img-fluid mb-4")
                    h2.mb-4 los mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia repellat beatae!
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et mollitia repellat beatae!